@font-face {
  font-family: Windsor;
  src: url("/public/fonts/Windsor\ BOLD.ttf");
}

body {
  background-color: #fdf8ea;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  width: 100%;
  font-family: Windsor;
}

h1 {
  font-family: Windsor;
  font-size: 54px;
}

.app-body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

.chart-selection {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.tooltip-columns {
  margin: 4px;
}

.tooltip-container {
  display: flex;
  column-gap: 8px;
  padding: 4px 16px;
  flex-direction: column;
  align-items: center;
}

.tooltip-title {
  margin: 8px 0 0 0;
}

.tooltip-values {
  display: flex;
}

.tooltip-row {
  margin: 4px 0;
}

.chart-container {
  min-height: 500px;
  height: 500px;
  width: 100%;
  max-width: 1000px;
  /* min-width: 70%; */

  margin: 50px 0;
}

.pie-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* margin: 50px; */

  height: 100%;
  /* width: 50%; */
  width: 500px;
}

.scatter-chart {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;

  /* margin: 50px; */

  height: 100%;
  width: 100%;
}

.scatter-checkbox {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  row-gap: 11px;
  margin-bottom: 12px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 24px;
}

.pie-title {
  margin: 0;
  font-size: 28px;
}
